<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I consider myself as a diligent, self-motivated person. I love programming and building things. I enjoy every moment whenever I make a piece of code work eventually a large project running. Being challenged and working outside my knowledge set prepare me well on learning new techniques and skills. Even though knowing some popular frameworks is important, more importantly I think, is computer fundamentals. I believe that a good software engineer should be able to pick-up any specific frameworks or libraries without a lot of time spent.
</div>